## Homework 3
### Due: by 11:59 am on November 30, 2023 ***(before class)***

**Note**: You can work solo or in a group of 2 for this homework. Your grade will not be affected either way.

For this homeowork, you will explore a dataset and answer a few questions using Python code about the dataset.

Download the data from here: https://data.cdc.gov/api/views/hk9y-quqm/rows.csv?accessType=DOWNLOAD

***Points distribution***

Problems 1,2,3,4,5,6,7,13 are 5 points each. 

Problems 8,10,11 are 10 points each.

Problems 9, 12 are 15 points each.

$\newline$

$\newline$

## Are you working a group? Write Yes or No below. Double-click here first to begin typing.

=> No


## If you answered yes, please write your name and your partner's name in full after ###.

###

Q1: Write necessary code to load the data on this Jupyter Notebook.

In [1]:
# answer Q1 here
import pandas as pd

# df = pd.read_csv('/Users/kyliehoar/Downloads/DS2010/Hoar_Kylie/Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2023.csv')
df = pd.read_csv('Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2023.csv')
print(df)

        Data As Of  Start Date    End Date     Group    Year  Month  \
0       09/24/2023  01/01/2020  09/23/2023  By Total     NaN    NaN
1       09/24/2023  01/01/2020  09/23/2023  By Total     NaN    NaN
2       09/24/2023  01/01/2020  09/23/2023  By Total     NaN    NaN
3       09/24/2023  01/01/2020  09/23/2023  By Total     NaN    NaN
4       09/24/2023  01/01/2020  09/23/2023  By Total     NaN    NaN
...            ...         ...         ...       ...     ...    ...
620995  09/24/2023  05/01/2023  05/31/2023  By Month  2023.0    5.0
620996  09/24/2023  06/01/2023  06/30/2023  By Month  2023.0    6.0
620997  09/24/2023  07/01/2023  07/31/2023  By Month  2023.0    7.0
620998  09/24/2023  08/01/2023  08/31/2023  By Month  2023.0    8.0
620999  09/24/2023  09/01/2023  09/23/2023  By Month  2023.0    9.0

                State       Condition Group                Condition  \
0       United States  Respiratory diseases  Influenza and pneumonia
1       United States  Respiratory diseases  Influenza and pneumonia
2       United States  Respiratory diseases  Influenza and pneumonia
3       United States  Respiratory diseases  Influenza and pneumonia
4       United States  Respiratory diseases  Influenza and pneumonia
...               ...                   ...                      ...
620995    Puerto Rico              COVID-19                 COVID-19
620996    Puerto Rico              COVID-19                 COVID-19
620997    Puerto Rico              COVID-19                 COVID-19
620998    Puerto Rico              COVID-19                 COVID-19
620999    Puerto Rico              COVID-19                 COVID-19

       ICD10_codes Age Group  COVID-19 Deaths  Number of Mentions Flag
0          J09-J18      0-24           1569.0              1647.0  NaN
1          J09-J18     25-34           5804.0              6029.0  NaN
2          J09-J18     35-44          15080.0             15699.0  NaN
3          J09-J18     45-54          37414.0             38878.0  NaN
4          J09-J18     55-64          82668.0             85708.0  NaN
...            ...       ...              ...                 ...  ...
620995        U071  All Ages             67.0                67.0  NaN
620996        U071  All Ages            122.0               122.0  NaN
620997        U071  All Ages            114.0               114.0  NaN
620998        U071  All Ages             78.0                78.0  NaN
620999        U071  All Ages             36.0                36.0  NaN

[621000 rows x 14 columns]

Q2: Write necessary code to display the first 10 rows of the dataset.

In [2]:
# answer Q2 here
df.head(10)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1569.0,1647.0,NaN
1,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5804.0,6029.0,NaN
2,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,15080.0,15699.0,NaN
3,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,37414.0,38878.0,NaN
4,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,82668.0,85708.0,NaN
5,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,65-74,129005.0,133088.0,NaN
6,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,75-84,138503.0,141868.0,NaN
7,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,85+,121119.0,123018.0,NaN
8,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,Not stated,12.0,12.0,NaN
9,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,All Ages,531174.0,545947.0,NaN

Q3: Write necessary code to display the last 10 rows of the dataset.

In [3]:
# answer Q3 here
df.tail(10)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
620990,09/24/2023,12/01/2022,12/31/2022,By Month,2022.0,12.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,172.0,172.0,NaN
620991,09/24/2023,01/01/2023,01/31/2023,By Month,2023.0,1.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,164.0,164.0,NaN
620992,09/24/2023,02/01/2023,02/28/2023,By Month,2023.0,2.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,100.0,100.0,NaN
620993,09/24/2023,03/01/2023,03/31/2023,By Month,2023.0,3.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,50.0,50.0,NaN
620994,09/24/2023,04/01/2023,04/30/2023,By Month,2023.0,4.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,44.0,44.0,NaN
620995,09/24/2023,05/01/2023,05/31/2023,By Month,2023.0,5.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,67.0,67.0,NaN
620996,09/24/2023,06/01/2023,06/30/2023,By Month,2023.0,6.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,122.0,122.0,NaN
620997,09/24/2023,07/01/2023,07/31/2023,By Month,2023.0,7.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,114.0,114.0,NaN
620998,09/24/2023,08/01/2023,08/31/2023,By Month,2023.0,8.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,78.0,78.0,NaN
620999,09/24/2023,09/01/2023,09/23/2023,By Month,2023.0,9.0,Puerto Rico,COVID-19,COVID-19,U071,All Ages,36.0,36.0,NaN

Q4: Write necessary code to display the rows 140 to 160 of the dataset.

In [4]:
# answer Q4 here
df.iloc[140:161]

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
140,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,0-24,175.0,205.0,NaN
141,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,25-34,298.0,358.0,NaN
142,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,35-44,896.0,1094.0,NaN
143,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,45-54,2859.0,3516.0,NaN
144,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,55-64,9900.0,11828.0,NaN
145,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,65-74,19889.0,23495.0,NaN
146,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,75-84,21947.0,25586.0,NaN
147,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,85+,15705.0,17899.0,NaN
148,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,Not stated,0.0,0.0,NaN
149,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Malignant neoplasms,Malignant neoplasms,C00-C97,All Ages,71669.0,83981.0,NaN
150,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,0-24,289.0,291.0,NaN
151,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,25-34,1252.0,1263.0,NaN
152,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,35-44,4295.0,4343.0,NaN
153,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,45-54,12297.0,12384.0,NaN
154,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,55-64,28768.0,28956.0,NaN
155,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,65-74,45930.0,46206.0,NaN
156,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,75-84,45442.0,45709.0,NaN
157,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,85+,30553.0,30697.0,NaN
158,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,Not stated,4.0,4.0,NaN
159,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Diabetes,Diabetes,E10-E14,All Ages,168830.0,169853.0,NaN
160,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Obesity,Obesity,E65-E68,0-24,707.0,708.0,NaN

Q5: Write necessary code to display the total number of samples and features in the dataset.

In [5]:
# answer Q5 here
print('Number of Samples:', len(df))
print('Number of Features:', len(df.columns))

Number of Samples: 621000
Number of Features: 14

Q6: Write necessary code to display the column names in the dataset.

In [6]:
# answer Q6 here
print('List of Column Names:')
print(list(df.columns))

List of Column Names:
['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month', 'State', 'Condition Group', 'Condition', 'ICD10_codes', 'Age Group', 'COVID-19 Deaths', 'Number of Mentions', 'Flag']

Q7: Assuming your dataset is stored in "df", run the code df.describe() in the next cell. If you are using a differnt name, change the code appropriately.

In [7]:
# run code here
df.describe()

                Year          Month  COVID-19 Deaths  Number of Mentions
count  608580.000000  558900.000000     4.375510e+05        4.434230e+05
mean     2021.408163       6.200000     1.201179e+02        1.293348e+02
std         1.086436       3.350625     2.980201e+03        3.203936e+03
min      2020.000000       1.000000     0.000000e+00        0.000000e+00
25%      2020.000000       3.000000     0.000000e+00        0.000000e+00
50%      2021.000000       6.000000     0.000000e+00        0.000000e+00
75%      2022.000000       9.000000     1.800000e+01        1.900000e+01
max      2023.000000      12.000000     1.146242e+06        1.146242e+06

Write below (after =>) a few sentences describing what you see after using df.describe(). Double click on this cell to see typing options.

=> Overall, the output from df.describe() showcases a basic summary about each column in the data set containing quantitative values. In the case of this dataset, the quantitative columns are Year, Month, COVID-19 Deaths, and Number of Mentions. The summary statistics shared about each quantitative feature is count, mean, standard deviation, miniimum, maximum, and 25th, 50th, and 75th percectiles. From this analysis, it seems like the data collection falls between the years 2020 and 2023, all months of the year are utilized for data collection (range of 1 to 12 indices for month), a majority of the number of COVID-19 deaths (50 percentile and under) are 0, and the number of mentions falls between an identical number range that the number of deaths does. However, the mean is slightly less than COVID-19 Deaths.

Q8: How many different condition groups can be found in this dataset? What are they? Use code to find the answers.

In [8]:
# answer Q8 here
print('Number of Condition Groups:', df['Condition Group'].nunique())
print('Condition Groups:')
print(df['Condition Group'].unique())

Number of Condition Groups: 12
Condition Groups:
['Respiratory diseases' 'Circulatory diseases' 'Sepsis'
 'Malignant neoplasms' 'Diabetes' 'Obesity' 'Alzheimer disease'
 'Vascular and unspecified dementia' 'Renal failure'
 'Intentional and unintentional injury, poisoning, and other adverse events'
 'All other conditions and causes (residual)' 'COVID-19']

Q9: Use the "State" column to extract all the rows that represent Massachessettes, but only keep "State," "Condition Group," "Condition," "Age Group," and "COVID-19 Deaths" columns. Create a new Pandas dataframe using these data.

In [9]:
# answer Q9 here
# it does not matter what code you write to create the final Pandas dataframe
target_states = ['Massachusetts']
columns_to_keep = ['State', 'Condition Group', 'Condition', 'Age Group', 'COVID-19 Deaths']
filtered_df = df[df['State'].isin(target_states)]
filtered_df = filtered_df[columns_to_keep]
print(filtered_df)

                State       Condition Group                Condition  \
5060    Massachusetts  Respiratory diseases  Influenza and pneumonia
5061    Massachusetts  Respiratory diseases  Influenza and pneumonia
5062    Massachusetts  Respiratory diseases  Influenza and pneumonia
5063    Massachusetts  Respiratory diseases  Influenza and pneumonia
5064    Massachusetts  Respiratory diseases  Influenza and pneumonia
...               ...                   ...                      ...
300145  Massachusetts              COVID-19                 COVID-19
300146  Massachusetts              COVID-19                 COVID-19
300147  Massachusetts              COVID-19                 COVID-19
300148  Massachusetts              COVID-19                 COVID-19
300149  Massachusetts              COVID-19                 COVID-19

       Age Group  COVID-19 Deaths
5060        0-24             14.0
5061       25-34             45.0
5062       35-44             88.0
5063       45-54            262.0
5064       55-64            856.0
...          ...              ...
300145  All Ages             55.0
300146  All Ages             40.0
300147  All Ages             35.0
300148  All Ages             84.0
300149  All Ages             70.0

[11500 rows x 5 columns]

Q10: Repeat Q9, but this time for New Hampshire, Rhode Island, Vermont, Maine and Connecticut.

In [10]:
# answer Q10 here
target_states = ['New Hampshire', 'Rhode Island', 'Vermont', 'Maine', 'Connecticut']
columns_to_keep = ['State', 'Condition Group', 'Condition', 'Age Group', 'COVID-19 Deaths']
filtered_df2 = df[df['State'].isin(target_states)]
filtered_df2 = filtered_df2[columns_to_keep]
print(filtered_df2)

              State       Condition Group                Condition Age Group  \
1610    Connecticut  Respiratory diseases  Influenza and pneumonia      0-24
1611    Connecticut  Respiratory diseases  Influenza and pneumonia     25-34
1612    Connecticut  Respiratory diseases  Influenza and pneumonia     35-44
1613    Connecticut  Respiratory diseases  Influenza and pneumonia     45-54
1614    Connecticut  Respiratory diseases  Influenza and pneumonia     55-64
...             ...                   ...                      ...       ...
558895      Vermont              COVID-19                 COVID-19  All Ages
558896      Vermont              COVID-19                 COVID-19  All Ages
558897      Vermont              COVID-19                 COVID-19  All Ages
558898      Vermont              COVID-19                 COVID-19  All Ages
558899      Vermont              COVID-19                 COVID-19  All Ages

        COVID-19 Deaths
1610                NaN
1611               21.0
1612               52.0
1613              154.0
1614              465.0
...                 ...
558895             10.0
558896              NaN
558897              NaN
558898             14.0
558899              NaN

[57500 rows x 5 columns]

Q11: Join all the dataframes from Q9 and Q10, and name it "NewEngland."

In [11]:
# answer Q11 here
NewEngland = [filtered_df, filtered_df2]
NewEngland = pd.concat(NewEngland)
print(NewEngland)

                State       Condition Group                Condition  \
5060    Massachusetts  Respiratory diseases  Influenza and pneumonia
5061    Massachusetts  Respiratory diseases  Influenza and pneumonia
5062    Massachusetts  Respiratory diseases  Influenza and pneumonia
5063    Massachusetts  Respiratory diseases  Influenza and pneumonia
5064    Massachusetts  Respiratory diseases  Influenza and pneumonia
...               ...                   ...                      ...
558895        Vermont              COVID-19                 COVID-19
558896        Vermont              COVID-19                 COVID-19
558897        Vermont              COVID-19                 COVID-19
558898        Vermont              COVID-19                 COVID-19
558899        Vermont              COVID-19                 COVID-19

       Age Group  COVID-19 Deaths
5060        0-24             14.0
5061       25-34             45.0
5062       35-44             88.0
5063       45-54            262.0
5064       55-64            856.0
...          ...              ...
558895  All Ages             10.0
558896  All Ages              NaN
558897  All Ages              NaN
558898  All Ages             14.0
558899  All Ages              NaN

[69000 rows x 5 columns]

Q12: Observe the specific value "All Ages" for the column "Age Group" in the NewEngland dataframe. Notice that for one state, multiple such values exist. Write code to sum the corresponding "COVID-19 Deaths" values for "All Ages" values for each state in the NewEngland dataframe. Store that information in any way you like. No specific requirements, as long as you can disply the information for each state.

In [12]:
# Answer Q12 here
target_age = ['All Ages']
filtered_ne = NewEngland[NewEngland['Age Group'].isin(target_age)]
sum_deaths_ne = filtered_ne.groupby('State')['COVID-19 Deaths'].sum()
print(sum_deaths_ne)

State
Connecticut      128206.0
Maine             26624.0
Massachusetts    232053.0
New Hampshire     31976.0
Rhode Island      44720.0
Vermont           10477.0
Name: COVID-19 Deaths, dtype: float64

Q13: Use Q12 to answer which of the New England states had the maximum number of COVID-19 deaths.

In [14]:
# answer Q13 here
print('State with max COVID-19 deaths:', sum_deaths_ne.idxmax())

State with max COVID-19 deaths: Massachusetts

### !!!DONE!!!

**What to submit:**

Put the dataset and this Jupyter Notebook in a folder. Your code in Q1 should refer to this folder when loading the data. Zip the folder, and name it: yourLastName_yourFirstName.zip. 

Upload the zipped folder on Canvas.